* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    width: 100%;
    height: 720px;
    background-color: #1D2429;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

 header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
} 

header .song-side nav {
    width: 100%;
    margin: auto;  
}
/* search box */

.song-side .search-box  {
    width: 531px;
    margin-right: 15px;
    margin-left: 5px;
    padding: 8px 12px;  
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* arrow icon */
.left-button {
    font-size: 14px;
    color: #000;
    margin-left: 20px;
    background-color: #fff;
    padding: 8px;
    border-radius: 30px;
    text-decoration: none;
}

.right-button {
    font-size: 10px;
    color: #000;
    background-color: #fff;
    margin-right: 1030px;
    padding: 8px;
    border-radius: 30px;
    margin-left: 15px;
}

.search-box3 .left-button, .right-button {
    font-size: 14px;
    text-decoration: none;
}

.left-button:hover, .right-button:hover {
    color: #fff;
    background-color: #1597E5;
    cursor: pointer;
}

.song-side .user-music {
    width: 140px;
    height: 37px;
    background-color: rgb(21, 151, 229);
    border-radius: 20px;
    border: 1px solid;
    margin-right: 25px;
    margin-right: 0px;
    margin-left: 1300px;
    /* margin-bottom: -54px; */
    margin-top: -30px;
}

.song-side .user-music {
    display: flex;
    align-items: center;
}

.song-side .user-music img {
    width: 25px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.song-side .user-music p {
    font-size: 16px;
    font-family: 'innika';
    font-weight: 400;
    padding-right: 10px;
}

.song-side .user-music i {
    font-weight: 600;
    font-size: 10px;
}


.song-music{
    width: 100%;
    height: 100%;
}
.song-music img{
    width: 55px;
    height: 48px;
    border-radius: 100%;
    margin-top: 41px;
    /* position: absolute; */
    margin-left: 34px;
}
.song-music h1 {
    color: #fff;
    margin-top: -62px;
    margin-left: 100px;
    text-align: left;
    justify-content: left;
    padding: 0px 60px 0px 25px;
    font-size: 50px;
}
.song-music .form1{
    width: 1000px;
    height: 100px;

}
/* End header */

/* Begin slider */
.slider img {
    width: 95%;
    height: 270px;
    border-radius: 18px;
    margin-top: 5px;
    margin-left: 35px;
}

.slider p {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-left: 35px;
}
/* Phần Thân */
.song-music{
    width: 100%;
    height: 100%;
}
.song-music img{
    width: 105px;
    height: 97px;
    border-radius: 100%;
    margin-top: 41px;
    /* position: absolute; */
    margin-left: 34px;
}
.song-music h1 {
    color: #fff;
    margin-top: -75px;
    margin-left: 160px;
    text-align: left;
    justify-content: left;
    padding: 0px 60px 0px 25px;
    font-size: 50px;
}
/* phần chữ p */
.header-p {
    color: #fff;
    width: 100%;
    height: 100px;
    font-size: 30px;
    margin-left: 30px;
    text-align: center;
    font-weight: 400;
}
.fomt1{
    width: 100%;
    height: 100px;
    
    text-align: center;
    /* background-color: #1597E5; */

}
/* Phần đang xuất bắt đầu */
.submit{
    background-color: #1597E5;
    color: #000;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 220px;
    height: 40px;
    border: none;
}
.submit a{
    text-decoration: none;
    color: #000;
}
.submit:hover{
    cursor: pointer;
    background-color: #dddd;
    color: #fff;
    font-size: 25px;
}
/* kết thúc phần đăng xuất */